<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Example Form</title>
</head>

<body>

  <div class="content">

    <p>
      Value input1:
      <%= params['input1'] %>
    </p>

    <p>
      Value input2:
      <%= params['input2'] %>
    </p>

    <p>
      Value input3:
      <%= params['input3'] %>
    </p>

    <p>
      Value input4:
      <%= params['input4'] %>
    </p>

    <p>
      Value input5:
      <%= params['input5'] %>
    </p>

    <p>
      Value input6:
      <%= params['input6'] %>
    </p>

    <p>
      Value input7:
      <%= params['input7'] %>
    </p>

    <p>
      Value input8:
      <%= params['input8'] %>
    </p>

    <p>
      Value input9:
      <%= params['input9'] %>
    </p>

    <p>
      Value input10:
      <%= params['input10'] %>
    </p>

    <p>
      Value input11:
      <%= params['input11'] %>
    </p>

    <p>
      Value input12:
      <%= params['input12'] %>
    </p>

    <p>
      Value input13:
      <%= params['input13'] %>
    </p>

    <p>
      Value input14:
      <%= params['input14'] %>
    </p>

  </div>

</body>

</html>
